body {
    background-color: black;
    background-image: url("https://i.gifer.com/VJ1.gif");
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Courier New', Courier, monospace;
    margin: 10;
    box-sizing: border-box;
    color: #ebdef0;
}

#gif {
    display: flex;
    justify-content: center;
    position: relative;
    top: 25px;
}

@keyframes imageHover {
    0% {transform: scale(1)}
    50% {transform: scale(1.1)}
    100% {transform: scale(1)}
}

#image1 {
    position: relative;
    float: left;
    top: 50px;
    left: 100px;
    clip-path: circle(35%);
    animation-name: imageHover;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

#image1:hover {
    animation-play-state: paused;
}

#image2 {
    position: relative;
    float: right;
    top: 200px;
    right: 100px;
    clip-path: circle(38%);
    animation-name: imageHover;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

#image2:hover {
    animation-play-state: paused;
}


#title {
    text-align: center;
    border: 2px solid #512e5f;
    border-style: dotted;
    border-radius: 10px;
    margin-left: 500px;
    margin-right: 500px;
    position: relative;
    top: 75px;
    background-color: #000838;
}

#title h1:hover {
    transform: scale(1.1, 1.1);
}

#text {
    text-align: center;
    border: 2px solid #512e5f;
    border-style: dotted;
    border-radius: 10px;
    margin-left: 500px;
    margin-right: 500px;
    position: relative;
    top: 100px;
    background-color: #000838;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#links {
    text-align: center;
    border: 2px solid #512e5f;
    border-style: dotted;
    border-radius: 10px;
    margin-left: 500px;
    margin-right: 500px;
    position: relative;
    top: 125px;
    background-color: #000838;
}

@keyframes githubHover {
    0% {color: white}
    50% {color: black}
    100% {color: white}
}

#github a:hover {
    animation-name: githubHover;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}

@keyframes instaHover {
    0% {color: white}
    50% {color: #a925b8}
    100% {color: white}
}

#insta a:hover {
    animation-name: instaHover;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}

@keyframes linkedinHover {
    0% {color: white}
    50% {color: #1275c6}
    100% {color: white}
}

#linkedin a:hover {
    animation-name: linkedinHover;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}

/* navigation bar */
@keyframes hoverTextNavigation {
    0% {color: white}
    50% {color: aquamarine}
    100% {color: white}
}

#navigation {
    bottom:0%;
    left:0%;
    margin:auto;
    position:fixed;
    width:100%;
    box-sizing: border-box;
    background-color: black;
}

#navigation ul{
    padding:0;
    list-style: none;
    padding-top:3%;
    margin-left:20%;
    padding-bottom:2%;
}

#navigation li{
    display:inline;
    padding-right:10%;
}

#navigation li a:hover {
    animation-name: hoverTextNavigation;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}